@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Lexend:wght@100..900&display=swap'); */

body {
  font-family: "Lexend", sans-serif;
}

:root {
  --background-color-light: #ffffff;
  --background-color-dark: #1b1b1d;

  --text-color-light: #1e1e20;
  --text-color-dark: #e4e4e6;
}

html {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

html.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.toastBody {
  font-family: "Lexend", sans-serif !important;
  color: var(--text-color-light);
  background-color: var(--background-color-light) !important;
  border: 1px solid #d4d4d6;
  border-radius: 5px;
}

.dark .toastBody {
  color: var(--text-color-dark);
  background-color: var(--background-color-dark) !important;
  border: 1px solid #5f5f60;
}

::-webkit-scrollbar {
  width: 8px; 
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #f4f5f6e6;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #e91e63;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d01755;
}

/* Firefox Scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: #e91e63 #f4f5f6e6;
}
